div.main-wrap {
  .banner-container {
    height: 300px;
    div.swiper-slide {
      background-color: #333;
    }
  }

  div.product-container {
    padding: 0 50px;
    div.product-tab-container {
      gap: 30px;
      button {
        cursor: pointer;
      }
    }
  }
}
