div.main-wrap {
  height: calc(100vh - 60px);
  div.product-container {
    padding: 0 50px;
    div.product-tab-container {
      gap: 30px;
      button {
        cursor: pointer;
        width: 70px;
        &.active {
          font-weight: 700;
        }
        &:hover {
          font-weight: 600;
          color: #d9ba64;
        }
      }
    }
  }

  button {
    &.delete-account-btn {
      bottom: 50px;
      right: 50px;
      &:hover {
        font-weight: 600;
      }
    }
  }
}
